body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #1A1A1A;
  color: #FFFFFF;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  background-color: #0D0D0D;
  color: #FFFFFF;
  text-align: left;
}

header h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin: 0;
  color: #FFFFFF;
}

header img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  display: block;
}

main {
  padding: 1rem 2rem;
}

h2 {
  color: #D6D6D6;
}

p, ul, li {
  color: #FFFFFF;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
}

li::before {
  content: "";
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background-color: #cde5fd;  /* Cuadrado azul */
  border-radius: 2px; /* Bordes ligeramente redondeados */
}

a {
  color: #61B0FF;
  text-decoration: none;
}

a:hover {
  color: #C9C9C9;
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #0D0D0D;
  color: #D6D6D6;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  header {
      flex-direction: column;
      text-align: center;
  }

  header img {
      margin-bottom: 1rem;
  }

  header h1 {
      font-size: 2rem;
  }
}
