@media (min-width: 960px){
    body{
        background-color: gray;
    }
}
@media (max-width: 600px){
    h1{
        font-size: larger;
    }
}
@media (orientation: portrait){
    body{
        display: none;
    }
}
@media (orientation: landscape){
    nav{
        display: block
    }
}